.categories {
    font-size: 18px;
    width: 150px;
    padding: 5px 5px 5px 5px;
}

.label {
    color: #fff;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .categories {
        width: 120px;
    }
}